# Ignore o diretório do ambiente virtual
meu_ambiente/

# Ignore arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ignore logs e bancos de dados temporários
*.log
*.sqlite3

# Ignore arquivos de configuração do editor
.vscode/
.idea/

# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore arquivos de pacotes
*.egg
*.egg-info/
dist/
build/